html,body{
	height: 100%;
	width: 100%;
}
body{
	background: #f3f3f3;
	font-family: '微软雅黑', 'Source Han Sans';
	padding-top: 1px;
}

html[lang="en-US"] body{
	font-family: 'open sans',"Noto Sans CJK SC","Source Han Sans CN";
}

input{
	font-family: inherit;
}

ul,li{
	list-style: none;
}

$fc1: #303646;
$fc2: #545968;
$ah: #138bca;

*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	cursor: pointer;
}
#history a:hover{
			color: $ah;
		}
#history{
	background: #fff;
}

.clear:after{
	content: ",";
	height: 0;
	visibility: hidden;
	clear: both;
	overflow: hidden;
}

.wrap{
	width: 1170px;
	margin: 100px auto 0;
	border-radius: 4px;
	padding: 40px;

	.route{
		a{
			font-size: 12px;
			color: $fc2;
		}
		a:after{
			content: " > ";
		}
		a:last-child:after{
			content: "";
			visibility: hidden;
		}
		a:last-child{
			color: $ah;
		}
		
	}
	.new-title{
		position: relative;
		margin-top: 30px;
		h1{
			font-size: 25px;
			color: $fc1;
		}
		p{
			position: absolute;
			right: 15px;
			font-size: 12px;
			color: $fc2;
			bottom: 0;
			a{
				color: $fc2;
				margin-left: 30px;
			}
			a:hover
		}
	}
	.col-1{
		width: 10%;
		text-align: center;
		.bt{
			display: inline-block;
			padding: 5px 10px;
			border: 1px solid #e6e6e6;
			font-size: 12px;
			border-radius: 4px;
			line-height: normal;
			background: #fff;
			color: #000;
		}
		.bt:hover{
			background-color: #1d8fd0;
			color: #fff;
			cursor: pointer;
		}
	}

	.table{
		margin-top: 10px;
		.item{
			border-bottom: 1px solid #f3f3f3;
			height: 49px;
			p{
				display: inline-block;
				float: left;
				line-height: 49px;
				font-size: 14px;
				color: $fc1;
			}
			
			.col-2{
				width: 20%;
			}
			.col-12{
				width: 15%;
				a{
					color: $ah;
				}
			}
			.col-4{
				width: 40%;
			}	
		}
		.th{
			background: #fbfbfb;
			height: 64px;
			p{
				line-height: 64px;
			}
			
		}
	}
	>.col-1{
		margin-top: 12px;
	}

	.footer{
		text-align: center;
		margin-top: 12px;

		.active{
			display: inline-block;
			line-height: 1;
			background: #2688d3;
    		color: #fff;
		}
		a,span{
			padding: 8px;
			color: $fc1;
		}
	}
}



@media screen and (max-width: 1170px){
	.wrap{
		width: auto;
	}
}