html,body{
	height: 100%;
	width: 100%;
}
body{
	background: #f3f3f3;
	font-family: '微软雅黑', 'Source Han Sans';
	padding-top: 1px;
}

html[lang="en-US"] body{
	font-family: 'open sans',"Noto Sans CJK SC","Source Han Sans CN";
}

input{
	font-family: inherit;
	outline: none;
}

ul,li{
	list-style: none;
}

$fc1: #303646;
$fc2: #545968;
$ah: #138bca;

@mixin box-sizing {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	cursor: pointer;
}
#histroy a:hover{
			color: #2ca7f8!important;
		}
#history{
	background: #fff;
}

/* .clear:after{*/
/* 	content: ",";*/
/* 	height: 0;*/
/* 	visibility: hidden;*/
/* 	clear: both;*/
/* 	overflow: hidden;*/
/* }*/
#mw-content-text{
	font-size: 14px;
	>a{
		color: $ah;
	}
}

.wrap{
	width: 1170px;
	margin: 100px auto 0;
	border-radius: 4px;
	padding: 40px;



	.route{
		a{
			font-size: 12px;
			color: $fc2;
		}
		a:after{
			content: " > ";
		}
		a:last-child:after{
			content: "";
			visibility: hidden;
		}
		a:last-child{
			color: $ah;
		}

		a:hover{
			color: $ah;
		}
		
	}
	.new-title{
		position: relative;
		margin-top: 36px;
		h1{
			font-size: 25px;
			color: $fc1;
			margin-bottom: 12px;
		}
		p{
			position: absolute;
			right: 15px;
			font-size: 12px;
			color: $fc2;
			bottom: 0;
			a{
				color: $fc2;
				margin-left: 30px;
			}
			a:hover
		}
	}
	.col-1{
		width: 10%;
		text-align: center;
		.bt{
			display: inline-block;
			padding: 5px 10px;
			border: 1px solid #e6e6e6;
			font-size: 12px;
			border-radius: 4px;
			line-height: normal;
			background: #fff;
			color: #000;
		}
		.bt:hover{
			background-color: #1d8fd0;
			color: #fff;
			cursor: pointer;
			border-color: #1d8fd0;
		}
	}

	.table{
		margin-top: 10px;
		border-top: 1px solid #f3f3f3;
		.item{
			overflow: hidden;
			padding: 19px 0;
			border-bottom: 1px solid #f3f3f3;
			p{
				display: inline-block;
				float: left;
				font-size: 14px;
				color: $fc1;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				@include box-sizing;
				padding-left: 8px;
			}
			
			.col-2{
				width: 20%;
			}
			.col-12{
				width: 15%;
				white-space: normal;
				a{
					color: $ah;
				}
			}
			.col-34{
				width: 35%;
			}
			.col-01{
				width: 5%;

				a{
					color: $ah;
				}
			}
			.col-3{
				width: 30%;
				min-height: 19px;
			}

			.col-1{
				width: 10%;
				white-space: normal;
				a{
					color: $ah;
				}
			}
			.col-1:last-child{
				text-align: left;
			}	
		}
		.th{
			background: #fbfbfb;
			line-height: 26px;
			padding: 22px 0 16px 0;
		}
	}
	.table+.col-1{
		margin-top: 12px;
		margin-bottom: 12px;
	}

	.footer{
		text-align: center;
		margin-top: 12px;

		.active{
			display: inline-block;
			line-height: 1;
			background: #2688d3;
    		color: #fff;
		}
		a,span{
			padding: 8px;
			color: $fc1;
		}
	}
}



@media screen and (max-width: 1170px){
	.wrap{
		width: auto;
	}
}