$fc1: #303646;
$fc2: #545968;
$fc3: #AFAFAF;
$ah: #138bca;

@mixin box-sizing {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@mixin transform($param) {
	-webkit-transform: $param;
	  -ms-transform: $param;
	  -o-transform: $param;
	  transform: $param;
}
html,body{
	height: 100%;
	width: 100%;
}
body{
	padding-top: 1px;
	background-color: #F9F9F9;
	font-family: '微软雅黑', 'Source Han Sans';	
}
html[lang="en-US"] body{
	font-family: 'open sans',"Noto Sans CJK SC","Source Han Sans CN";
}
*{
	margin: 0;
	padding: 0;
}
body ul{
	margin: 0;
}

ul,li{
	list-style: none;
}

a{
	text-decoration: none;
}
#diff input,#diff textarea{
	font-family: inherit;
}
#newHeader .sub-menu{
	margin:0;
}

.left{
	float: left;
}
.right{
	float: right;
}
.clear:after{
	content: ",";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
.wrap{
	width: 1170px;
	margin: 0 auto;
}

@media screen and (max-width: 1170px){
	.wrap{
		width: auto;
	}
}
#diff{
	margin-top: 100px;
	background: #fff;
	border: 1px solid #ececec;
	border-radius: 4px;
	@include box-sizing;
	padding: 40px;
	padding-bottom: 60px;
	.route{
		a{
			color: $fc2;
			font-size: 12px;
			text-decoration: none;
		}

		a:hover{
			color: $ah;
		}

		a:after{
			content: " > ";
		}
		a:last-child:after{
			content: "";
			visibility: hidden;
		}
		a:last-child{
			color: $ah;
		}
	}

	.diff-title{
		font-size: 25px;
		color: $fc1;
		padding-bottom: 15px;
		border-bottom: 1px solid #ececec;
		margin-top: 36px;
	}
	.box{
		table{
			td{
				>div{
					font-size: 12px;
					line-height: 26px;

				}
			}
		}
	}
}

#diff + #footer{
	margin: 0;
	padding: 0;
	margin-top: 20px;
}