*{margin: 0; padding: 0}
// global
.right{
	float: right;
}
.left{
	float: left;
}
ul,li{list-style: none;}
a{
	text-decoration: none;
}
#page a:hover{
	color: #138BCA;
	cursor: pointer;
}
html,body{
	height: 100%;
	width:  100%;
}
body{
	background: #f9f9f9;
	font-family: '微软雅黑', 'Source Han Sans' ;
}

html[lang="en-US"] body{
	font-family: 'open sans',"Noto Sans CJK SC","Source Han Sans CN" ;
}

input{
	font-family: inherit;
}

@function precent($px, $base: 1140) {
  @return ($px / $base) * 100%;
}


.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix{
	zoom: 1;
}

.wrap{
		width: 1140px;
		margin: 0 auto;
		box-sizing: border-box;
		position: relative;
		margin-top: 100px;
		margin-bottom: 40px;
		.slideTop{
			overflow: hidden;
			.slideLeft{
				width: precent(276);
				background: #fff;
				padding:50px 0 60px 30px;
				height: 100%;
				box-sizing: border-box;
				border-radius: 4px;
				border: 1px solid #ececec;

				.menu{
					>li{
						margin-bottom: 20px;
						h3:before{
							content: '· ';
						}
						h3{
							font-size: 16px;
							font-weight: normal;
						}
						.submenu{
							margin-top: 5px;
							padding-left: 12px;
							overflow: hidden;
							li{
								float: left;
								margin-right: precent(20,246);
								a{
									font-size: 12px;
									color: #545968;
									line-height: 22px;
								}
							}
						}
					}

					>li:last-child{
						margin-bottom: 0;
					}
				}
			}

			.slideRight{
				width: precent(852);
				background: #fff;
				padding:50px;
				box-sizing: border-box;
				border-radius: 4px;
				border: 1px solid #ececec;

				.search{
					position: relative;

					.data-list{
						display: none;
						width: precent(651,752);
						border: solid 1px #ececec;
						border-radius: 4px;
						position:absolute;
						top: 38px;
						li{
							background: #FFFFFF;
							z-index: 9px;
							-webkit-box-sizing: border-box ;
						    -moz-box-sizing: border-box ;
						    box-sizing: border-box ;
						  	padding-left: 15px;
						  	line-height: 24px;

						  	a,span{
						  		color: #545968;
						  		font-size: 12px;
						  		display:block;
						  	}
						  	a:hover{
								color: #545968!important;
						  	}
						}
						li:hover{
							background-color: #f0f0f0;
						}
					}
					input{
						display: block;
						box-sizing: border-box;
						outline: none;
						border-radius: 4px;
					}
					.text{
						width: precent(651,752);
						height: 36px;
						line-height: 36px;
						font-size: 14px;
						padding-left: 15px;
						border: 1px solid #EBEBEB;
					}
					.text:focus{
						border: 1px solid #54a5d0;
					}
					.button{
						width: precent(96,752);
						height: 36px;
						line-height: 36px;
						font-size: 12px;
						text-align: center;
						border: none;
						background: #1D8FD0;
						color: #fff;
					}
					.button:hover{
						opacity: .9;
					}
				}

				.line{
					height: 1px;
					background: #ececec;
					margin: 30px 0;
				}

				.mark{
					h3{
						font-size: 14px;
						line-height: 30px;
						color: #303646;
						padding-left: 10px;
						font-weight: normal;
					}

					.list{
						overflow: hidden;
						>li:hover{
							box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.3);
						}
						li{
							float: left;
							margin-right: precent(22,752);
							width: precent(236,752);
							box-sizing: border-box;
							border-radius: 4px;
							background: #F3F3F3;
							padding: 16px  30px;
							margin-bottom: 10px;
							.title{
								font-size: 14px;
								color: #303646;
								line-height: 30px;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
							span{
								font-size: 12px;
								color: #545968;
								line-height: 22px;
								display: block;
								overflow: hidden;
								text-overflow: ellipsis;
								display: -webkit-box;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
								height: 42px;
							}
						}
						li:nth-child(3n){
							margin-right: 0;
						}
						.blue{
							background: #C0DCEE;
							padding: 30px;
							.title{
								font-size: 16px;
							}
						}
						.green{
							background: #C0EEDB;
							padding: 30px;
							.title{
								font-size: 16px;
							}
						}
						.yellow{
							background: #EEE3C0;
							padding: 30px;
							.title{
								font-size: 16px;
							}
						}
					}
				}

			}
		}


		.slideBottom{
			margin-top: 12px;
			overflow: hidden;
			
			h3{
				font-size: 18px;
				line-height: 26px;
				color: #303646;
			}
			.bottomLeft{
				padding: 30px;
				padding-right: 26px;
				background: #fff;
				width: precent(276);
				box-sizing: border-box;
				border-radius: 4px;
				border: 1px solid #ececec;



				.qList{
					margin-top: 10px;
					li{
						position: relative;
						a{
							font-size: 14px;
							line-height: 30px;
							color: #545968;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							display: block;
							padding-left: 10px;
						}
					}
					li:before{
						content: "·";
						position: absolute;
						top: 3px;

					}
				}
			}
			.bottomRight{
				padding: 30px;
				box-sizing: border-box;
				border-radius: 4px;
				background: #fff;
				width: precent(852);
				border: 1px solid #ececec;
			
				.content{
					p{
						font-size: 14px;
						line-height: 26px;
						color: #545968;
						margin-top: 10px;
					}
				}
			}
		}
	}
@media screen and (max-width: 1140px){
	.wrap{
		width:  auto;

	}
}
